---
layout: default
---

<div class="home">

  <h1>Claudius G. Krause's Homepage</h1>

  <img src="https://claudius-krause.gitlab.io/krause.jpg" width="50%" hspace="25" align="left"/>
  <p>
  <p>I am a theoretical particle physicist and currently leading the "Machine Learning for Particle Physics" group at the <a href="https://www.oeaw.ac.at/hephy/">Institute for High-Energy Physics (HEPHY)</a> in Vienna. I am also a co-leader of working group 2 (Technological innovation in data analysis) of the <ahref="https://www.cost.eu/actions/CA22130/">Comprehensive Multiboson Experiment-Theory Action (COMETA)</a>. Previously, I was ITP Fellow (a Senior Postdoc) at the <a href="https://www.thphys.uni-heidelberg.de/">Institute for Theoretical Physics</a> at <a href="https://www.uni-heidelberg.de/de">University of Heidelberg</a>, Postdoctoral Associate at the <a href="https://physics.rutgers.edu/">Department of Physics and Astronomy</a> at <a href="https://www.rutgers.edu/">Rutgers University</a>, <a href="http://www.humboldt-foundation.de/web/lynen-fellowship.html">Feodor Lynen Research Fellow</a> in the <a href="http://theory.fnal.gov/">Theoretical Physics Department</a> at <a href="http://fnal.gov">Fermilab</a>, and Postdoctoral Researcher at the <a href="https://webific.ific.uv.es/web/en">Instituto de Física Corpuscular (IFIC)</a> in Valencia.</p>
  <p>In my <a href="https://claudius-krause.gitlab.io/research/">research</a>, I am interested to answer questions like: </p>
  <p><i>How does Nature work at the fundamental level? </i><br>
    <i>Can we explain our observations based on first principles? </i><br>
    <i>Can we write down a "Theory of Everything"?</i><br></p>
  <p> More specifically, I wonder about questions like:</p>
  <p><i>How do the elementary particles get their masses? </i><br>
     <i>Is the Standard Model Higgs mechanism at work, or is Nature more complicated? </i><br>
     <i>Why is there more matter than antimatter around us?</i><br>
     <i>What is the Nature of Dark Matter?</i><br>
  </p>
  <p>To answer these questions, I work with Machine Learning techniques based on artificial neural networks to improve data analysis and simulation in particle physics. </p>
  </p>

  <p>I recently set up a Dell XPS with Ubuntu 20.04. You can read about my journey <a href="https://claudius-krause.gitlab.io/journey/">here</a>. </p>
  
<!--      </td>
    </tr>
  </table> -->
  <p>
   <br> <br>
  <!--  class="page-heading" -->
  <br>
  </p>
   <br> <br>
  <h2> Contact Information </h2>
  <table style="width:100%" align="left">
    <tr align="left">
      <th> Address: </th>
      <td> Institute of High Energy Physics (HEPHY) </td>
      <th> Email: </th>
      <td> <a href="mailto:Claudius.Krause@oeaw.ac.at">Claudius.Krause@oeaw.ac.at</a></td>
    </tr>
    <tr align="left">
      <td> </td>
      <td> Austrian Academy of Sciences (ÖAW) </td>
      <th> Telephone: </th>
      <td> +43 (1) 51581 - 2880 <td>
    </tr>
    <tr align="left">
      <td> </td>
      <td> Dominikanerbastei 16 </td>
      <th> Office: 3B29B</th>
      <td>  </td>
    </tr>
    <tr align="left">
        <td> </td>
        <td> A-1010 Vienna, Austria </td>
        <td> </td>
        <td> </td>
    </tr>
  </table>
</div>
