<section class="navigation">
    <div class="nav-container">
        <div class="brand">
          <a href="https://claudius-krause.gitlab.io"><img src="https://claudius-krause.gitlab.io/krause.jpg" height="70"  style="vertical-align: baseline;"></a>
	  <!--{% include logo.svg %}-->
	  <!-- <img src="#" width="50%" height="50%"> -->
	  <!--{% include logo.svg height="5%" width="5%" %} -->
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
            {% for entry in site.data.nav %}
                {% assign sublinks = entry.sublinks %}
                {% assign externlinks = entry.externlinks %}
                {% if sublinks  or externlinks%}
                <li class="nav-sublinks">
                    <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                    <ul class="nav-dropdown">
                        {% if sublinks %}
                        {% for sublink in sublinks %}
                        <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                        {% endfor %}
                        {% endif %}
                        {% if externlinks %}
                        {% for externlink in externlinks %}
                        <li><a href="{{ externlink.url }}">{{ externlink.title }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    </div>
</section>

